{% extends "header.html" %}



{% block content %}

<h2>Change Password</h2>

<script>
    {% if messages %}
    {% for message in messages %}
        alert("{{ message }}");
    {% endfor %}
    {% endif %}
</script>

<form method="post">
    {% csrf_token %}
    <label for="old_password">Antigua contraseña:</label>
    <input id="old_password" type="password" name="old_password" required>
    <label for="new_password">Nueva contraseña:</label>
    <input id="new_password" type="password" name="new_password" required>
    <label for="confirm_password">Confirmar nueva contraseña:</label>
    <input id="confirm_password" type="password" name="confirm_password" required>
    <button type="submit">Cambiar contraseña</button>
</form>
{% endblock %}