{% extends "header.html" %}

{% block content %}
  <h2>Cobranza</h2>
  <table>
    <tr>
      <th>Fecha de Captura</th>
      <th>Nombre</th>
      <th>Domicilio</th>
      <th>Cobrador</th>
      <th>Detalles</th>
      <!-- Agrega el resto de los campos aquí -->
    </tr>
    {% for cobranza in cobranzas %}
      <tr>
        <td>{{ cobranza.fecha_captura }}</td>
        <td>{{ cobranza.nombre }}</td>
        <td>{{ cobranza.domicilio }}</td>
        <td>{{ cobranza.usuario }}
        <td><a href="{% url 'deudor_detail' id=cobranza.id %}">Ver detalles</a></td>
        <!-- Agrega el resto de los campos aquí -->
      </tr>
    {% endfor %}
  </table>
{% endblock %}
