<!DOCTYPE html>
<html>
<head>
    <title>Gestor de Cobranza</title>
</head>
<body>
<header>
    <nav>
        <a href="{% url 'home' %}">Home</a> |
        {% if user.is_authenticated %}
        {% if user.is_staff %}
        <a href="{% url 'subpage' %}">Archivos</a> |
        {% endif %}
        <a href="{% url 'cobranza' %}">Cobranza</a> |
        <a href="{% url 'logout' %}">Logout</a> |
        <span>{{ user.username }}</span>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>